

.search-section {
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
}

.member-card,
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.member-card {
  margin-left: 15px;
}

.search-card {
  margin-right: 15px;
}

.members-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;

  padding: 10px 0;

}

.input-area {
  input {
    width: 70%;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}